@font-face {
  font-family: "Rampart";
  src: url(../../assets/fonts/RampartOne-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

.mainInfoWrapper {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.cartHeader {
  font-family: "Rampart";
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  border-bottom: 1px solid var(--text-muted);
  margin: 1rem;
}

.closeBtn {
  cursor: pointer;
  transition:
    transform 0.3s ease-in,
    background-color 0.3s ease-in;
}

.closeBtn:hover {
  transform: scale(1.2);
}

.closeBtn:active {
  transform: translate(2px, 2px);
  background-color: grey;
}

.allCartItems {
  flex: 1;
  overflow-y: auto;
  background-color: var(--bg-surface);
}

.cartItem {
  display: flex;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: var(--border);
  margin-bottom: 0.5rem;
  border-bottom: 1px solid black;
}

.cartItem img {
  height: 4.3rem;
  width: 4.3rem;
}

.itemInfo {
  display: flex;
  gap: 0.4rem;
  flex-direction: column;
  width: 100%;
  padding: 0 1rem;
}

.countPriceInfo {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.itemTitle {
  display: flex;
  justify-content: space-between;
}

.cartCountManipulate {
  display: flex;
  gap: 0.5rem;
  padding: 0.4rem 0;
  justify-content: center;
}

.cartCountManipulate button {
  background-color: var(--text-muted);
  color: var(--bg);
  width: 35px;
  height: 30px;
}

.cartCountManipulate button:active {
  border: 2px solid var(--text-muted);
}

.imagePriceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

.checkoutContainer {
  flex-shrink: 0;
  padding: 1rem;
  border-top: 1px solid var(--text-muted);
  display: flex;
  justify-content: center;
  background-color: var(--bg);
}

.checkoutContainer p {
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: bold;
}

.noCartDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}
