:root {
  --divBgColor: rgb(62, 59, 59);
}

.homeContainer {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  min-width: 100dvw;
  min-height: 100dvh;
  align-items: center;
}

.h2Contianer {
  background-color: var(--divBgColor);
  padding: 1rem;
  transform: skewX(-20deg);
  font-family: "Ewert", fantasy;
  letter-spacing: 5px;
  animation: rainbow-shift 3s linear infinite;
}

.releaseH2 {
  color: white;
}

.newReleasegrid {
  margin-top: 3rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3rem;
  column-gap: 4rem;
}

.newItemWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loaderContainer {
  height: 100dvh;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

.CardContainer {
  cursor: pointer;
  max-height: 22rem;
  max-width: 22rem;
  border: 2px solid var(--text-muted);
  box-shadow: 0 4px 10px var(--text-muted);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition:
    translate 0.3s ease-out,
    transform 0.3s ease-in;
  animation: cardPopIn 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.CardContainer img {
  height: 90%;
  width: 90%;
  object-fit: fill;
  transition: transform 0.2s ease-in;
}

.CardContainer:hover,
.CardContainer:active {
  translate: -4px -4px;
}

.CardContainer:hover img,
.CardContainer:active img {
  transform: scale(1.1);
}

.CardContainer:hover .addCart,
.CardContainer:active .addCart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.rainbowPara {
  background: linear-gradient(
    to right,
    #ff2400,
    #e81d1d,
    #e8b21d,
    #1de840,
    #1ddde8,
    #2b1de8,
    #dd00f3,
    #dd00f3
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: rainbow-shift 3s linear infinite;
}

@media screen and (max-width: 630px) {
  .releaseH2 {
    font-size: 1rem;
  }

  .newReleasegrid {
    grid-template-columns: 1fr;
  }
}

@keyframes rainbow-shift {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 200% 50%;
  }
}

@keyframes cardPopIn {
  from {
    opacity: 0;
    transform: scale(0.8) translateY(10px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
