:root {
  --divBgColor: rgb(62, 59, 59);
}

.homeContainer {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 100dvw;
  height: 100dvh;
  align-items: center;
}
.h2Contianer {
  background-color: var(--divBgColor);
  color: white;
  padding: 1rem;
  transform: skewX(-20deg);
  font-family: "Ewert", fantasy;
  letter-spacing: 2px;
}

.releaseH2 {
  font-size: 1.5rem;
}

.newReleasegrid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.CardContainer {
  .gridCard {
  }
}
