.shopContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopFilterBar {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  select {
    height: fit-content;
    text-align: center;
  }
}
