.loaderContainer {
  animation: none;
  composes: loaderContainer from "../Home/Home.module.css";
}

.imgCartContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    height: 20rem;
    width: 20rem;
    object-fit: fill;
  }
}

.mainContainer {
  letter-spacing: 1px;
  background-color: var(--popoutbgDiv);
  height: fit-content;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
  margin-top: 8rem;
  padding: 3rem;
}

.productInfo {
  height: 20rem;
  display: flex;
  flex-direction: column;

  justify-content: center;

  h2 {
    justify-self: flex-start;
    margin: 0;
  }
}

.addCartForm {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  width: 15rem;
  gap: 0.5rem;
}

.cartCountManipulate {
  min-width: 100%;
  display: flex;
  gap: 0.1rem;
  input {
    flex: 1;
    text-align: center;
  }
  button {
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (max-width: 925px) {
  .mainContainer {
    margin: 0;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    padding: 1.4rem;
    height: 100%;
  }
  .imgCartContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    img {
      height: 18rem;
      width: 18rem;
      object-fit: fill;
    }
  }
  .productInfo {
    height: 100%;
    width: 100%;
  }
}
