.loaderContainer {
  animation: none;
  composes: loaderContainer from "../Home/Home.module.css";
}

.imgCartContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 20rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.mainContainer {
  letter-spacing: 1px;
  background-color: var(--popoutbgDiv);
  height: fit-content;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
  margin-top: 8rem;
  padding: 3rem;
}

.productInfo {
  height: 20rem;
  display: flex;
  flex-direction: column;

  justify-content: center;

  h2 {
    justify-self: flex-start;
    margin: 0;
  }
}

.addCartForm {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  width: 15rem;
  gap: 0.5rem;
}

.cartCountManipulate {
  min-width: 100%;
  display: flex;
  gap: 0.1rem;
  input {
    flex: 1;
  }
  button {
    width: 2rem;
    height: 2rem;
  }
}
