:root {
  --headerbg: rgb(201, 194, 195);
  --headerBorder: 2px solid black;
  font-size: 20px;
  --themeBtnbg: rgb(232, 230, 230);
}

.header {
  background-color: var(--headerbg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--headerBorder);
  padding: 0 2rem 0 2rem;
  transition: all 0.3s ease-in-out;
  padding: 0.4rem;
  .themeButton {
    cursor: pointer;
    background-color: var(--themeBtnbg);
    height: fit-content;
    width: fit-content;
    border: none;
    border-radius: 50px;
    padding: 5px;
  }
}
.headerLogo {
  gap: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.backgroundDarkTheme {
  --themeBtnbg: rgb(46, 44, 44);
}

.headerDark {
  --headerbg: rgb(51, 51, 47);
  --headerBorder: 1px solid white;
}

.navBar {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    li {
      padding: 0.4rem;
      list-style-type: none;
      transition: transform 0.1s ease-out;
    }
    a:active {
      color: var(--headerbg);
    }
    li:hover {
      transform: translate(-0px, -5px);
    }
  }
  a {
    text-decoration: none;
  }
}
